@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background:#1a222b;
    --primary-font: "Open Sans", sans-serif;
    --primary: #5cbd60;
    --secondary: #f1c308;
    --third: #020d24;
}

body {
    background-color: var(--background);
    overflow: hidden;
    
    background-image: url("https://images.unsplash.com/photo-1516395614785-58f599409d3c?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;   
}

#intro__section {
    padding: 2.5rem;
}

#cookies__box {
    top: 0;
    background-color: black;
    width: 100vw;
    box-sizing: border-box;
    padding: 0.5rem;
    color: white;
    display: flex;
}

#cookies__box>button {
    font-family: var(--primary-font);
    box-sizing: border;
    background-color: green;
    color: white;
    margin-left: auto;
    margin-right: 0.5rem;
    cursor: grab;
    border: none;
    font-weight: bold;
    outline: none;
    transition: all, 500ms;
}

#hero__center {
    box-sizing: border-box;
    padding: 0.85rem;
    border-radius: 1rem;
    background-color: beige;
    transition: all, 500ms;
    cursor: default;
    max-width: 60vw;
}

#hero__center:hover {
    box-shadow: -2px 9px 33px 12px rgba(0,0,0,0.69);
}

#hero__inner_container {
    margin-top: 0.9rem;
}

.button {
    font-family: var(--primary-font);
    box-sizing: border;
    padding: 0.8rem;
    margin: 0.5rem;
    cursor: grab;
    border-radius: 1rem;
    border: none;
    font-weight: bold;
    outline: none;
    transition: all, 500ms;
}

.button:active {
    cursor: grabbing;
    padding: 0.75rem
}

.icon {
    color: var(--primary);
    width: 2rem;
    margin: 1rem;
}

.button-primary {
    background-color: var(--primary);
    color: white
}

.button-secondary {
    background-color: var(--secondary);
    color: white
}

/* Utility */

a {
    text-decoration: underline;
    color: var(--primary)
}

svg {
    width: 3rem;
}

.soft-hidden {
    display: none;
}

.bg-primary {
    background-color: var(--primary) !important
}

.center {
    justify-content: center;
    align-items: center;
}

.disabled {
    background-color: gray !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul:first-child {
    margin-top: 0.15rem !important;
}

li {
    margin-top: 0.25rem;
    box-sizing: border-box;
    padding: 0.25rem;
    border-radius: 1rem;
    background-color: var(--primary);
}

.fills {
    width: 100%;
    height: 100%;
}

.screen {
    width: 100vw;
    height: 100vh;
}

.bg-secondary {
    background-color: var(--secondary) !important
}

.primary {
    color: var(--primary) !important
}

.red {
    color: red
}

.third {
    color: var(--third) !important
}

.bg-dimmed {
    background-color: rgba(0, 0, 0, 0.5);
}

.padding-all {
    padding: 1.5rem;
}

.margin-all {
    margin: 1.5rem;
}

.stroke {
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: black;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.absolute {
    position: absolute;
}

.italic {
    font-style: italic;
}

.margin-top-classic {
    margin-top: 1rem;
}

.no-wrap {
    text-wrap: nowrap;
}

.secondary {
    color: var(--secondary) !important
}

.text {
    font-family: var(--primary-font);
    color: white 
}

.bold {
    font-weight: bold;
}

.big {
    font-size: x-large;
}

.underline {
    text-decoration: underline;
}

.bigger {
    font-size: xx-large;
}

.medium {
    font-size: medium;
}

.wavy {
    text-decoration: wavy;
}

.container {
    display: flex;
}

.text-center  {
    text-align: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.text-glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 0 currentColor, 0 0 0 currentColor, 0 0 0 currentColor, 0 0 0 currentColor, 0 0 0 currentColor, 0 0 0 currentColor, 0 0 0 currentColor;
    }
    to {
        text-shadow: 0 0 0.1rem #fff, 0 0 0.75rem rgba(255, 255, 255, 0.9), 0 0 0.1rem currentColor, 0 0 0.1rem currentColor, 0 0 0.1rem currentColor, 0 0 0.1rem currentColor, 0 0 0.1rem currentColor;
    }
}