@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background:#1a222b;
    --primary-font: "Open Sans", sans-serif;
    --primary: #5cbd60;
    --secondary: #f1c308;
    --third: #020d24;
}

body {
    background-color: var(--background);
    overflow: hidden;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;   

    scrollbar-width: 0;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    max-width: 95vw;
    margin-top: 0.5rem;
}

md-block {
    font-family: var(--primary-font);
    color: white;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.card {
    box-sizing: border-box;
    padding: 0.75rem;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: fit-content;
    min-width: fit-content;
}

.card-image {
    width: 30vw;
    border-radius: 0.5rem;
}

.card-heading {
    font-family: var(--primary-font);
    color: black;
    margin-bottom: 1rem;
    font-weight: bold;
    text-decoration: underline;
    font-size: large
}

.button {
    font-family: var(--primary-font);
    box-sizing: border;
    padding: 0.8rem;
    margin: 0.5rem;
    cursor: grab;
    border-radius: 1rem;
    border: none;
    font-weight: bold;
    outline: none;
    transition: all, 500ms;
}

.button:active {
    cursor: grabbing;
    padding: 0.75rem
}

.icon {
    color: var(--primary);
    width: 2rem;
    margin: 1rem;
}

.button-primary {
    background-color: var(--primary);
    color: white
}

.button-secondary {
    background-color: var(--secondary);
    color: white
}

/* Utility */

a {
    text-decoration: underline;
    color: var(--primary)
}

svg {
    width: 3rem;
}

.soft-hidden {
    display: none;
}

.bg-primary {
    background-color: var(--primary) !important
}

.center {
    justify-content: center;
    align-items: center;
}

.disabled {
    background-color: gray !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul:first-child {
    margin-top: 0.15rem !important;
}

li {
    margin-top: 0.25rem;
}

.fills {
    width: 100%;
    height: 100%;
}

.screen {
    width: 100vw;
    height: 100vh;
}

.bg-secondary {
    background-color: var(--secondary) !important
}

.primary {
    color: var(--primary) !important
}

.red {
    color: red
}

.third {
    color: var(--third) !important
}

.bg-dimmed {
    background-color: rgba(0, 0, 0, 0.5);
}

.padding-all {
    padding: 1.5rem;
}

.margin-all {
    margin: 1.5rem;
}

.stroke {
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: black;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.absolute {
    position: absolute;
}

.italic {
    font-style: italic;
}

.margin-top-classic {
    margin-top: 1rem;
}

.no-wrap {
    text-wrap: nowrap;
}

.secondary {
    color: var(--secondary) !important
}

.text {
    font-family: var(--primary-font);
    color: white 
}

.bold {
    font-weight: bold;
}

.black {
    color: black
}

.big {
    font-size: x-large;
}

.underline {
    text-decoration: underline;
}

.bigger {
    font-size: xx-large;
}

.medium {
    font-size: medium;
}

.wavy {
    text-decoration: wavy;
}

.container {
    display: flex;
}

.text-center  {
    text-align: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.text-glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 0 currentColor, 0 0 0 currentColor, 0 0 0 currentColor, 0 0 0 currentColor, 0 0 0 currentColor, 0 0 0 currentColor, 0 0 0 currentColor;
    }
    to {
        text-shadow: 0 0 0.1rem #fff, 0 0 0.75rem rgba(255, 255, 255, 0.9), 0 0 0.1rem currentColor, 0 0 0.1rem currentColor, 0 0 0.1rem currentColor, 0 0 0.1rem currentColor, 0 0 0.1rem currentColor;
    }
}